@page
@model QR_Material_Scanner.Pages.ChangePasswordConfirmationModel
@{

    Layout = "~/Pages/Shared/_Plain.cshtml";
}
<!-- App Capsule -->
<div id="appCapsule">

    <div class="login-form">
        <div class="section">
            <h1>Change Password successfully</h1>
            <h4>
                Your password is successfully changed.
            </h4>
        </div>
    </div>



</div>
<!-- * App Capsule -->