@page
@model QR_Material_Scanner.Pages.ForgotPasswordConfirmationModel
@{

    Layout = "~/Pages/Shared/_Plain.cshtml";
}
<!-- App Capsule -->
<div id="appCapsule">

    <div class="login-form">
        <div class="section">
            <h1>Reset Password Email</h1>
            <h4> If you have an account with us, we have sent an email
            with the instructions to reset your password.</h4>
        </div>
    </div>



</div>
<!-- * App Capsule -->