@page
@model QR_Material_Scanner.Pages.ForgotPasswordModel
@{

    Layout = "~/Pages/Shared/_Plain.cshtml";
}
<!-- App Capsule -->
<div id="appCapsule">

    <div class="login-form">
        <div class="section">
            <h1>Forgot Password</h1>
            <h4>Type your email to reset your password</h4>
        </div>
        <div class="section mt-2 mb-5">
            <form method="post">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        @*<label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" placeholder="Email address" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>*@
                        @Html.TextBoxFor(m => m.Input.Email, new { @class = "form-control", @placeholder = "Email address" })
                        @Html.ValidationMessageFor(m => m.Input.Email, "", new { @class = "text-danger" })

                        @*<input type="email" class="form-control" id="name1" placeholder="Email address">*@
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>

                <div class="form-button-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Reset</button>
                </div>

            </form>
        </div>
    </div>



</div>
<!-- * App Capsule -->