@page
@model QR_Material_Scanner.Pages.ResetPasswordConfirmationModel
@{

    Layout = "~/Pages/Shared/_Plain.cshtml";
}
<!-- App Capsule -->
<div id="appCapsule">

    <div class="login-form">
        <div class="section">
            <h1>Reset Password</h1>
            <h4>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </h4>
        </div>
    </div>



</div>
<!-- * App Capsule -->